<!DOCTYPE html>
@{ 
    ViewBag.Title = "OpenBasculaNet";
 }
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/openBasculaDatePicker.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("OpenBasculaNet", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Principal", "Principal", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div class="row col-md-12"><br /></div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - OpenBasculaNet</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/moment-with-locales.js" ></script>
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '< Ant',
                nextText: 'Sig >',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy HH:mm:ss',
                timeFormat: 'HH:mm:ss',
                showTime: true,
                changeMonth: false,
                changeYear: true,
                showAnim: 'slide',
                firstDay: 1,
                yearRange: "-300:+10",
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['es']);
            $(".datepicker").datepicker();
        });

        function convertDate(inputFormat) {
            function pad(s) { return (s < 10) ? '0' + s : s; }
            var d = new Date(inputFormat);
            return [pad(d.getDate()), pad(d.getMonth() + 1), d.getFullYear()].join('/');

        }
        function convertDateInverted(inputFormat) {
            function pad(s) { return (s < 10) ? '0' + s : s; }
            var d = new Date(inputFormat);
            return [d.getFullYear(), pad(d.getMonth() + 1), pad(d.getDate())].join('/');
        }
        function dateOrNull(inputString) {
            if (inputString == null || inputString.toString() === 'null') {
                return null;
            }
            else return new Date(inputString);
        }
        function replaceAll(find, replace, str) {
            while (str.indexOf(find) > -1) {
                str = str.replace(find, replace);
            }
            return str;
        }
        function setFechaPara(id, fecha) {
            //console.log('id: ' + id + ' ' + convertDate(fecha));
            if (fecha == null || fecha.toString() === 'null') {
                /* $(id).data("DateTimePicker").clear();
                 $(id).data("DateTimePicker").viewDate(convertDate(new Date()));
                 $(id).data("DateTimePicker").date(convertDate(new Date()));
                 $(id).data("DateTimePicker").locale('es');*/
                $(id + '_value').val('');
            }
            else {
                /*$(id).data("DateTimePicker").date(convertDate(fecha));
                $(id).data("DateTimePicker").viewDate(convertDate(fecha));
                $(id).data("DateTimePicker").locale('es');*/
                $(id + '_value').val(convertDate(fecha));
            }
        }

    </script>
</body>
</html>
