<!DOCTYPE html>
@{ 
    ViewBag.Title = "OpenBasculaNet";
 }
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/openBasculaDatePicker.css" />
    <link rel="stylesheet" href="~/bower_components/bootstrap-table/dist/bootstrap-table.min.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("OpenBasculaNet", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">                    
                    <li>@Html.ActionLink("Contacta", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div class="row col-md-12"><br /></div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - OpenBasculaNet</p>
        </footer>
    </div>

    <!-- #region MODALES -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="margin: 0 auto;">
        <div class="modal-dialog" role="document" style="width: 98%; height: 98%; max-width: 1170px; max-height: 98%;">
            <div class="modal-content" style="width: 98%; height: 98%; max-width: 1170px; max-height: 98%;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body" style="height:87%; padding: 0px;">
                    <iframe id="myModalURL" frameborder="0" style="height: 100%; width: 100%; margin: 0;"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnMyModalAceptar" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModalMensajes" tabindex="-1" role="dialog" aria-labelledby="myModalMensajesTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalMensajesTitle"></h4>
                </div>
                <div class="modal-body">
                    <span class="glyphicon glyphicon-info-sign" style="font-size: 36px; color: #00838f;"></span>
                    <label id="myModalMensajesMensaje"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnMyModalMensajesAceptar" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalMensajesError" tabindex="-1" role="dialog" aria-labelledby="myModalMensajesErrorTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalMensajesErrorTitle"></h4>
                </div>
                <div class="modal-body">
                    <span class="glyphicon glyphicon-bell" style="font-size: 36px; color: darkred;"></span>
                    <label id="myModalMensajesErrorMensaje"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnMyModalErrorAceptar" class="btn btn-primary">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myWindow" tabindex="-1" role="dialog" aria-labelledby="myWindowLabel">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myWindowLabel">Window title</h4>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion //MODALES -->

    <input type="hidden" id="hdferrores" value='@Session["errores"]' />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/moment-with-locales.js" ></script>
    <script type="text/javascript" src="~/bower_components/bootstrap-table/dist/bootstrap-table.min.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '< Ant',
                nextText: 'Sig >',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy ',
                timeFormat: 'HH:mm:ss',
                showTime: true,
                changeMonth: false,
                changeYear: true,
                showAnim: 'slide',
                firstDay: 1,
                yearRange: "-300:+10",
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['es']);
            $(".datepicker").datepicker();
        });

        function convertDate(inputFormat) {
            function pad(s) { return (s < 10) ? '0' + s : s; }
            var d = new Date(inputFormat);
            return [pad(d.getDate()), pad(d.getMonth() + 1), d.getFullYear()].join('/');
        }

        function getDateWithTimeNow() {
            function pad(s) { return (s < 10) ? '0' + s : s; }
            var d = new Date();
            var dia = [pad(d.getDate()), pad(d.getMonth() + 1), d.getFullYear()].join('/');
            var hora = [pad(d.getHours()), pad(d.getMinutes()), d.getSeconds()].join(':')
            var tiempo = dia + " " + hora;
            return tiempo;
        }

        function getDateWithTime(inputFormat) {
            inputFormat = replaceAll('T', ' ', inputFormat);
            function pad(s) { return (s < 10) ? '0' + s : s; }
            var d = new Date(inputFormat);
            var dia = [pad(d.getDate()), pad(d.getMonth() + 1), d.getFullYear()].join('/');
            var hora = [pad(d.getHours()), pad(d.getMinutes()), d.getSeconds()].join(':')
            var tiempo = dia + " " + hora;
            return tiempo;
        }

        function convertDateInverted(inputFormat) {
            function pad(s) { return (s < 10) ? '0' + s : s; }
            var d = new Date(inputFormat);
            return [d.getFullYear(), pad(d.getMonth() + 1), pad(d.getDate())].join('/');
        }
        function dateOrNull(inputString) {
            if (inputString == null || inputString.toString() === 'null') {
                return null;
            }
            else return new Date(inputString);
        }
        function replaceAll(find, replace, str) {
            while (str.indexOf(find) > -1) {
                str = str.replace(find, replace);
            }
            return str;
        }
        function setFechaPara(id, fecha) {
            //console.log('id: ' + id + ' ' + convertDate(fecha));
            if (fecha == null || fecha.toString() === 'null') {
                /* $(id).data("DateTimePicker").clear();
                 $(id).data("DateTimePicker").viewDate(convertDate(new Date()));
                 $(id).data("DateTimePicker").date(convertDate(new Date()));
                 $(id).data("DateTimePicker").locale('es');*/
                $(id + '_value').val('');
            }
            else {
                /*$(id).data("DateTimePicker").date(convertDate(fecha));
                $(id).data("DateTimePicker").viewDate(convertDate(fecha));
                $(id).data("DateTimePicker").locale('es');*/
                $(id + '_value').val(convertDate(fecha));
            }
        }

        function LaunchModal(titulo, url) {
            $('#myModalLabel').text(titulo);
            $('#btnMyModalAceptar').hide();
            $('#btnMyModalAceptar').unbind('click');
            $('#myModalURL').attr('src', url);
            $('#myModalURL').show();
            $('#spinner').hide();
            $("#myModal").modal('show');
        }
        $('#myModal').on('hidden.bs.modal', function () {
            $('#myModalURL').hide();
            $('#myModalURL').attr('src', "/Reports/White.html");
        })
        function LaunchWindow() {
            $("#myWindow").modal({ backdrop: false });
            $("#myWindow").modal('show');
        }
        function LaunchModalMensajes(mensaje, title) {
            $('#myModalMensajesTitle').text(title);
            $('#btnMyModalMensajesAceptar').hide();
            $('#btnMyModalMensajesAceptar').unbind('click');
            $('#myModalMensajesMensaje').text(mensaje);
            $("#myModalMensajes").modal('show');
        }
        function LaunchModalMensajesError(mensaje, title) {
            $('#myModalMensajesErrorTitle').text(title);
            $('#btnMyModalErrorAceptar').hide();
            $('#btnMyModalErrorAceptar').unbind('click');
            $('#myModalMensajesErrorMensaje').text(mensaje);
            $("#myModalMensajesError").modal('show');
        }
    </script>
</body>
</html>
